{% extends 'base.html' %}
{% load static %}
{% block maincontent %}
<!--Main Content Start-->
<div class="main-content">
  <!--Welcome Section-->
  <section class="welcome-section">
    <div class="container">
      <div class="row">
        <div class="welcome-box">
          <div class="col-md-6 col-sm-6">
            <div class="welcome-text">
              <div class="sectio-title-2"> <strong>Welcome to your</strong>
                <h2>Heart Care</h2>
              </div>
              <p> For over sixty years, Aga Khan University Hospital, Nairobi (AKUH,N) has been taking care of families in East Africa. As a private, not-for-profit hospital, we strive to provide access to quality healthcare to all who need it.

The Hospital has set the standard for comprehensive healthcare and modern medical education in East Africa. Our dedicated staff, advanced facilities and state-of-the-art technologies have earned the hospital great reputation as a leading medical institution and teaching hospital in the region, and beyond.

At AKUH,N patients are our first priority. Our team of medical professionals, faculty and staff are here to provide you and your loved ones with the highest standards of healthcare. We are committed to working together to ensure that you and your family receive outstanding medical services, first-rate facilities and compassionate care.</p>
              <p>Patients benefit from our unique team-based approach to car​e, which enables you to benefit from the diverse expertise of our entire team of medical professionals.  Our approach to care is guided by our core principles of Quality, Access, Impact and Relevance.</p>
              <strong class="signature">Jordan Michael</strong>
              <h6 class="designation">MS Wellbeing Hospital</h6>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="welcome-img"> <img src="{% static 'heartcare/images/welcome.jpg' %}" alt=""> </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Welcome Section End-->

  <!--Home Services Start-->
  <section class="home-features">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="features-box">
            <h3>Cardiac Monitoring</h3>
            <p>Cardiac monitoring generally refers to continuous or intermittent monitoring of heart activity to assess a patient's condition relative to their cardiac rhythm. Cardiac monitoring is usually carried out using electrocardiography, which is a noninvasive process that records the heart's electrical activity and displays it in an electrocardiogram.[1] It is different from hemodynamic monitoring, which monitors the pressure and flow of blood within the cardiovascular system. The two may be performed simultaneously on critical heart patients. Cardiac monitoring for ambulatory patients (those well enough to walk around) is known as ambulatory electrocardiography and uses a small, wearable device, such as a Holter monitor, wireless ambulatory ECG, or an implantable loop recorder. Data from a cardiac monitor can be transmitted to a distant monitoring station in a process known as telemetry or biotelemetry. .</p>
            <a href="appointment.html">Get Free Appointment</a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="features-box selected">
            <h3>First Aid</h3>
            <p>First aid is the first and immediate assistance given to any person with either a minor or serious illness or injury, with care provided to preserve life, prevent the condition from worsening, or to promote recovery until medical services arrive. First aid is generally performed by someone with basic medical training. Mental health first aid is an extension of the concept of first aid to cover mental health,while psychological first aid is used as early treatment of people who are at risk for developing PTSD.</p>
              <br>
              <br>
            <a href="contact-2.html">Contact Us</a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="features-box">
            <h3>Emergency Help</h3>
            <p><span>Monday-Friday:</span> Full Day<br>
              <span>Satuday:</span> Full Day<br>
              <span>Sunday:</span> 7:00am - 05:00pm<br>
            </p>
            <a href="#">Callfor Info: +254720982255</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Home Services End-->

  <!--Services Section Start-->
  <section class="home-services">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title-3"> <strong>Our Departments</strong>
            <h2>Departmental Services</h2>
          </div>
        </div>

        <!--service style 1-->
        <div class="col-md-12">
          <div class="service-style-1">
            <div class="row">
              <!--service box start-->
              {% for service in services %}
              <div class="col-md-3 col-sm-3">
                <div class="service-box">
                  <div class="ser-thumb"> <a href="{% url 'service_details' service.id %}" class="view"><i
                        class="fa fa-heartbeat" aria-hidden="true"></i></a> <img src="{{ service.thumbnail.url }}"
                      alt="">
                  </div>
                  <div class="ser-content">
                    <h3><a href="{% url 'service_details' service.id %}">{{ service.title }}</a></h3>
                    <p>{{ service.description|truncatewords:15 }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
              <!--service box End-->
            </div>
          </div>
        </div>
        <!--service style 1 End-->

      </div>
    </div>
  </section>
  <!--Services Section End-->

  <!--Heart Care Start-->
  <section class="heart-care-services">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title-3 white"> <strong>Our Core</strong>
            <h2>Expert Services</h2>
          </div>
        </div>
        <div class="col-md-5 col-sm-5">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#service-1" aria-controls="service-1" role="tab"
                data-toggle="tab"> <i class="fa fa-graduation-cap"></i> Experienced Surgeons</a></li>
            <li role="presentation"><a href="#service-2" aria-controls="service-2" role="tab" data-toggle="tab"> <i
                  class="fa fa-heartbeat"></i> Special Treatments</a></li>
            <li role="presentation"><a href="#service-3" aria-controls="service-3" role="tab" data-toggle="tab"> <i
                  class="fa fa-cloud"></i> Comfort Environment</a></li>
            <li role="presentation"><a href="#service-4" aria-controls="service-4" role="tab" data-toggle="tab"> <i
                  class="fa fa-user-md"></i> Talented Cardiologist</a></li>
            <li role="presentation"><a href="#service-5" aria-controls="service-5" role="tab" data-toggle="tab"> <i
                  class="fa fa-medkit"></i> High Tech Equipments</a></li>
            <li role="presentation"><a href="#service-6" aria-controls="service-6" role="tab" data-toggle="tab"> <i
                  class="fa fa-umbrella"></i> Personalized Care</a></li>
          </ul>
        </div>
        <div class="col-md-7 col-sm-7">

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="service-1">
              <div class="ser-tab-text">
                <h3>Experienced Surgeons</h3>
                <p> <i class="fa fa-graduation-cap"></i> While the majority hospitals have experienced surgeons on staff, they rarely have specialists in every surgical area of expertise [18]. Frequently, they will seek the advice of doctors with specific knowledge. Video and audio have been used by experts in specialized medical specialties to assist the surgical team throughout the procedure.

As medical technology progresses, many and more surgeries are reliant on it. A little surgical microscope, for example, can be put into the body and, with the help of a high-definition 4 K monitor like the Olympus Visera, vividly depict the specifics of the area to be operated on. </p>
                <ul>
                  <li><i class="fa fa-check"></i> Friendly surgeons</li>
                  <li><i class="fa fa-check"></i> Caring surgeons</li>
                  <li><i class="fa fa-check"></i> All time surgeons</li>
                </ul>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-2">
              <div class="ser-tab-text">
                <h3>Special Treatments</h3>
                <p> <i class="fa fa-heartbeat"></i> One of the earliest validation studies relates to the minimally-invasive VR simulator for laparoscopic surgery (MIST VR) [Taffinder et al., 1998]. They defined a score for various aspects of psychomotor skill and conducted two studies related to the simulator: the first study assesses surgeons of different surgical experience to validate the scoring system and the second study investigates the effect of a standard laparoscopic surgery training course. Experienced surgeons (more than 100 laparoscopic cholecystectomies) were significantly more efficient, made less correctional submovements and completed the tasks faster than trainee surgeons. Thus, the construct validity was high. The training course caused an improvement in efficiency and a reduction in errors for trainee surgeons. </p>
                <ul>
                  <li><i class="fa fa-check"></i> Spacious Wards</li>
                  <li><i class="fa fa-check"></i> High technology</li>
                  <li><i class="fa fa-check"></i> Fulltime service</li>
                </ul>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-3">
              <div class="ser-tab-text">
                <h3>Comfort Environment</h3>
                <p> <i class="fa fa-cloud"></i> Based on problems noted in clinical applications, some modifications of the entire system have been assessed in various studies. The mouse and keyboard could represent a latent infection medium during operation, and an assistant is recommended to exclusively control the computer to reduce this risk. </p>

              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-4">
              <div class="ser-tab-text">
                <h3>Talented Cardiologist</h3>
                <p> <i class="fa fa-user-md"></i> Guidance approaches refer to the methods that are applied during surgery to be able to apply the surgical planning. This can be done implicitly, for example when the surgeon relies on their experience and memory of the performed planning, or explicitly, for example when optical tracking of instruments and anatomy is used to follow the preoperative planning as closely as possible. </p>

              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-5">
              <div class="ser-tab-text">
                <h3>High Tech Equipments</h3>
                <p> <i class="fa fa-medkit"></i>In this section, we will discuss the four different guidance approaches that we have identified: Mental model-based, where the surgeon relies on their experience and their memory of the planning; image-based, where 3D tracking systems and medical imaging are used; documentation-based, where specially prepared, usually static, documentation is consulted by the surgeon; and finally mechanical guidance-based, where physical instruments, in some cases patient-specific or adjustable, are used to perform the surgery according to plan.  </p>

              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-6">
              <div class="ser-tab-text">
                <h3>Personalized Care</h3>
                <p> <i class="fa fa-umbrella"></i> Minimally invasive surgical techniques have evolved over the past several decades in an effort to reduce surgical morbidity associated with incisional size, length of stay, and recovery. The emergence of new technology has allowed for the development of innovative instrumentation and new surgical approaches. As surgical optics improve and as instruments contract in size while expanding in capability, surgeons are better equipped to develop novel surgical strategies. </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Heart Care End-->


  <!--Team Start-->
  <section class="team">
    <div class="container">
      <div class="row">
        <div class="section-title-3"> <strong>Our Team</strong>
          <h2>Expert Team</h2>
        </div>
      </div>
      <div class="row">
        {% for doctor in experts|slice:':4' %}
        <div class="col-md-3 col-sm-6">
          <div class="team-box mb50">
            <div class="team-thumb"> <a href="{% url 'doctor_details' doctor.id %}" class="view"><i class="fa fa-Heart"
                  aria-hidden="true"></i></a> <img src="{{ doctor.picture.url }}" alt=""></div>
            <div class="team-text">
              <h5><a href="{% url 'doctor_details' doctor.id %}">{{ doctor.name }}</a></h5>
              <strong>{{ doctor.speciality }}</strong>
              <ul class="team-social">
                {% if doctor.twitter %}
                <li><a class="tw" href="{{ doctor.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                {% endif %}
                {% if doctor.facebook %}
                <li><a class="fb" href="{{ doctor.facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                {% endif %}
                {% if doctor.instagram %}
                <li><a class="insta" href="{{ doctor.instagram }}"><i class="fa fa-instagram"
                      aria-hidden="true"></i></a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--Team End-->


  <!--Testimonials + Faqs Start-->
  <section class="testi-faq">
    <div class="container">
      <div class="row">

        <!--Testimonials Start-->
        <div class="col-md-6">
          <div class="home-testimonials">
            <div class="sectio-title-2"> <strong>Read What Says Our</strong>
              <h2>Happy Patients</h2>
            </div>
            <div id="testimonial-slider" class="owl-carousel owl-theme">

              <!--Slider Start-->
              <div class="item">
                <div class="testimonial-holder">
                  <div class="user-thumb"> <img src="{% static 'heartcare/images/tuser.jpg' %}" alt=""> <strong>Anna
                      Anderson</strong>
                    <i>A heart patient</i> </div>
                  <div class="test-text">
                    <p>On behalf of my wife, who was a patient in your hospital, I humbly submit my sincere gratitude to the management and staff of Jamaica Hospital, especially to your outstanding nurses and PCAs. They have been outstandingly helpful and provided a high quality of service, care and comfort to my wife. Thank you.
                    </p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-holder">
                  <div class="user-thumb"> <img src="{% static 'heartcare/images/tuser-2.jpg' %}" alt=""> <strong>Bruce
                      Anderson</strong>
                    <i>A heart patient</i> </div>
                  <div class="test-text">
                    <p>I am writing to express my gratitude from my family for the care given to my mother. In the SICU, there was care, compassion, and respect. A special thank you to your social workers as well; they provided professional guidance, comfort, and strength to make our own decisions. Finally, I cannot praise the Palliative Care and Hospice team enough. They were patient and helpful. All our hope that you continue along this path.
                    </p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-holder">
                  <div class="user-thumb"> <img src="{% static 'heartcare/images/tuser.jpg' %}" alt=""> <strong>Anna
                      Anderson</strong>
                    <i>A heart patient</i> </div>
                  <div class="test-text">
                    <p>My wife and I were recently heading to Florida. While on the jetway, my wife told me that she wasn’t feeling well and didn’t think we should get on the plane. We were eventually taken to Jamaica Hospital. From the moment she was wheeled through the doors of the emergency room, my fears were immediately put to rest. A courteous, compassionate and competent group of people immediately enveloped her in a cocoon of security. I would like to tell you that you should be extremely proud of your staff for the manner in which they treated a frightened pair of senior citizens.
                    </p>
                  </div>
                </div>
              </div>

              <!--Slider End-->

            </div>
          </div>
        </div>
        <!--Testimonials End-->

        <!--FAQ Start-->
        <div class="col-md-6">
          <div class="home-faq">
            <div class="sectio-title-2"> <strong>Feel Free For</strong>
              <h2>Any FAQ’s</h2>
            </div>
            <div class="faqs">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion"
                        href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> How much you charge
                        for consultancy </a> </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body"> Our commercialization strategy involves a rapid development of
                      treatments for both rotator cuff injuries in the shoulder and meniscus injuries of the knee
                      joint, with an initial focus on the highly developed. </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                        data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        What kind of patients do you treat? </a> </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body"> Our commercialization strategy involves a rapid development of
                      treatments for both rotator cuff injuries in the shoulder and meniscus injuries of the knee
                      joint, with an initial focus on the highly developed. </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                        data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                        aria-controls="collapseThree"> Where does my refering Cardiologist go? </a> </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                    aria-labelledby="headingThree">
                    <div class="panel-body"> Our commercialization strategy involves a rapid development of
                      treatments for both rotator cuff injuries in the shoulder and meniscus injuries of the knee
                      joint, with an initial focus on the highly developed. </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!--FAQ End-->

      </div>
    </div>
  </section>
  <!--Testimonials + Faqs End-->

</div>
<!--Main Content End-->
{% endblock maincontent %}